@import "tailwindcss";



body {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

.name {
  font-family: "Great Vibes", cursive;
  font-weight: 100;

}

/* Default (desktop) */
.swiper-button-next,
.swiper-button-prev {
  color: white;
}

/* Mobile only */
@media (max-width: 768px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
    /* move up */
  }

  100% {
    transform: translateY(0px);
  }
}


.animate-float {
  animation: float 3s ease-in-out infinite;
}

.react animate-float {
  animation: float 3s ease-in-out infinite;
}

/*On all sections of website*/
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.autoShow {
  animation: appear both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

/*Only on projects that too in laptop,desktop*/
/* @keyframes slideflr {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (min-width:768px) {
  .slideflr {
    animation: slideflr both;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
  }
}

@keyframes slidefrl {
  from {
    opacity: 0;
    transform: translate(100px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@media (min-width:768px) {
  .slidefrl {
    animation: slidefrl both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
  }
} */

/*Hero Section*/
.typing {
  /* border: 2px solid white; */
  border-right: 5px solid white;
  display: inline-block;

  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(40) infinite alternate,
    cursor .3s step-end infinite;
}

@keyframes cursor {
  50% {
    border-color: transparent
  }
}

@keyframes typing {

  from {
    max-width: 0
  }

  to {
    max-width: 100%
  }
}



/*Buttons Zoom in*/
@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom,
.profile {
  animation: zoom 0.9s ease-out forwards;
}

.profile {
  box-shadow: 4px 6px 20px 2px rgb(86, 139, 156);

}

/*Hero icons*/
@keyframes slideflr {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.icons {
  animation: slideflr 0.8s ease-in-out forwards;
}

/*Hero para*/
@keyframes slidefrl {
  from {
    opacity: 0;
    transform: translateX(80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.para {
  animation: slidefrl 0.8s ease-in-out forwards;
}

/*Hero para*/
@keyframes slidefTop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hello {
  animation: slidefTop 0.7s ease-in-out forwards;
}

/*About Section */
@media (min-width:600px) {
  .typingAbout {
    animation-name: aboutanimation;
    animation-duration: 3s;

    transition-property: transform;
    transition-duration: 3s;
  }
}

@keyframes aboutanimation {
  from {
    /* opacity: 0; */
    transform: translateX(3000px);
  }

  to {
    /* opacity: 1; */
    transform: translateX(0);
  }
}

@media(min-width:600px){
  .whatido{
    animation-name: aboutimg;
    animation-duration: 3s;

    transition-property: transform;
    transition-duration: 3s;
  }
}

@keyframes aboutimg {
  from{
    transform: translateX(-3000px);
  }
  to{
    transform: translateX(0px);
  }
}